// 2026-01-21
//


.big_font_field input {
    font-size: 18px;
    font-weight: bold;
}
.big_label label {
    font-size: 18px;
    font-weight: bold;
}
.o_box {
    width: 300px;
    border: 2px solid #d1d5db;
    border-radius: 6px;
    padding: 12px;
    background: #d0ebff;
}